@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,500,600,700);

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

#container {
  width: 1000px;
  margin: auto;
}

body {
	font-family: "Raleway", helvetica; 
	color: #00000;
}

.resources {
  background-color: #c9d5fc; 
}

header {
  min-height: 75px;
  text-align: center;
  background-color: #fcf0c9;
  margin: auto;
 /* border-style: double;*/
 /* border-width: 5px;*/
  padding: 10px;
  color: inherit;
}

.feature-photo {
  background-image: url("../images/healthy-skin-foods.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 10%; 
  background-attachment: fixed;
  min-height: 450px;
}

nav ul {
  float: right;
}

nav li {
  float: left;
}

h1 {
	font-size: 60px;
  font-family: "Josefin Sans", sans-serif;
  padding: 15px;
  color: inherit;
}

/*Added to get rid of the default blue color and underline style.*/

a {
    text-decoration: none !important;
}

main {
 	background-color: #fcf0c9;
 	width:100%;
 	min-height: 600px;
  text-align: center;
  color: inherit;
}

select {
   padding: 10px 8px;
   margin-top: 10px;
   border: solid;
   border-width: .3px;
   border-radius: 6px;
   background-color: #f1f1f1;
   font-family: "Raleway", sans-serif;
   font-size: 25px;
}

section {
  min-height: 750px;
}

footer {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
	background-color: #fcc9d5;
	width: 100%;
	min-height: 75px;
  overflow: auto;
}

footer h2 {
  padding: 10px;
	text-align: center;
 }

 h3 {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  font-style: 600;
  padding: 15px;
}

 .social_icon {
  float:left;
  width: 60px;
  height: 60px;
  padding: 10px;
 }

.question {
  font-size: 35px;
  padding: 75px;
}

li {
  font-size: 25px;
  font-style: 500;
  padding: 15px;
  float: left;
}

.feature-images {
  display: inline-block;
}

img {
  width: 100%;
}

a {
  color: black;
}

.demo,
.demo_second,
.demo_third {
  width: 400px;
  height: 400px;
  position: relative;
  padding: 50px;
  margin-right: 10px;
  background-size: cover;
  border-style: solid;
  border-color: white;
  border-width: 7px;
  float: left;
}

 .hidden {
  display: none;
}

/*Superfood pictures that will populate when assigned option is changed.*/
/*first set of images*/
.demo.hydrate  {
  background-image: url("../images/cucumber.jpg");
  background-size: cover;
}
.demo.bright {
  background-image: url("../images/spirulina.jpg");
  background-size: cover;

}
.demo.mood {
  background-image: url("../images/kale.jpg");
  background-size: cover;

}
.demo.detox {
  background-image: url("../images/fennel.jpg");
  background-size: cover;
}
.demo.age {
  background-image: url("../images/grapefruit.jpg");
  background-size: cover;
}
.demo.soft {
  background-image: url("../images/avocado.jpg");
  background-size: cover;
}

/*Second Set of images*/
.demo_second.hydrate {
  background-image: url("../images/beets.jpg");
  background-size: cover;
}

.demo_second.bright {
  background-image: url("../images/figs.jpg");
  background-size: cover;
}

.demo_second.mood {
  background-image: url("../images/beets.jpg");
  background-size: cover;
}

.demo_second.detox {
  background-image: url("../images/kiwi.jpg");
  background-size: cover;
}

.demo_second.soft {
  background-image: url("../images/Brazil-Nuts.jpg");
  background-size: cover;
}

.demo_second.age {
  background-image: url("../images/raspberry.jpg");
  background-size: cover;
}

/*Third set of images*/
.demo_third.hydrate {
  background-image: url("../images/radishes.jpg");
  background-size: cover;
}
.demo_third.bright {
  background-image: url("../images/carrots.jpg");
  background-size: cover;
}
.demo_third.mood {
  background-image: url("../images/pumpkin-seeds.jpg");
  background-size: cover;
}
.demo_third.detox {
  background-image: url("../images/cucumber.jpg");
  background-size: cover;
}
.demo_third.soft {
  background-image: url("../images/almonds.jpg");
  background-size: cover;
}

.demo_third.age {
   background-image: url("../images/chard.jpg");
   background-size: cover;
}

#content,
#content_second,
#content_third {
  display: none;
  position: absolute;
  padding: 20px;
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  font-family: "Raleway", sans-serif;
 }


/*Hover effects*/

.social_icon:hover {
  cursor: pointer;
}

.demo:hover #content,
.demo_second:hover #content_second,
.demo_third:hover #content_third {
  display: block;
}

a:visited {
  color: black;
}

a:hover {
  color: #c9d5fc;
  cursor: pointer;
}

select:hover {
  cursor: pointer;
}

/*Special formatting for Resources Page*/

#resources-list li:hover a  {
  color: white;
  cursor: pointer;
}

#resources-list li {
  float: none;
}

.hamburger {
  display: none;
}

/*Responsive design formatting.*/

@media screen and (max-width: 768px) {


 .feature-images {
    width: 100%;
  }

   nav ul {
    display: none;
  }

 .hamburger {
      display: block;
      float: right;
  }

  .demo,
  .demo_second,
  .demo_third {
    margin-left: 10px;
  }

  


